# --- python bytecode ---
__pycache__/
*.py[cod]
*$py.class

# --- virtual environments ---
node_modules/
.venv/
venv/
env/

# --- environment files ---
.env
.env.*
*.local

# --- emacs ---
*~
\#*\#
.\#*
*.elc

# --- project private data ---
/private/

# --- django ---
db.sqlite3
staticfiles/
media/

# --- misc ---
.DS_Store